<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="">Practice practice practice</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" routerLink="/errors">Errors</a></li>
    </ul>
    <button class="btn btn-success mr-3" (click)="login()">Token</button>
</nav>

<!--
    Todo
    create a service  to store current user and use async pipe to check if authorized, 
    add interceptor for errors and sending the token,
    add auth guard
-->